<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %><!-- bu şekilde birden fazla sayfada kullanılan kısımları modüler hale getirip tek dosyadan kontrol edebiliriz-->
    <body>
<body>

    <%- include('./partials/nav.ejs')  %> <!-- include kullanılcağı zaman - kullanılır şeklinde yazılır.-->

    <div class="not-found content">
        OOPS, page not found...
        
    </div>
    
    <%- include('./partials/footer.ejs') %>

</body>
</html>