<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %><!-- bu şekilde birden fazla sayfada kullanılan kısımları modüler hale getirip tek dosyadan kontrol edebiliriz-->
    <body>
<body>

    <%- include('./partials/nav.ejs')  %> <!-- include kullanılcağı zaman - kullanılır şeklinde yazılır.-->

    <div class="about content">
        <h2>All Blogs</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis non nihil doloribus dolorum voluptate ratione itaque perspiciatis, voluptas cupiditate ad.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci culpa animi laboriosam unde! Amet aperiam quasi reprehenderit assumenda nisi, labore, voluptates deserunt qui repellat aliquam neque, repudiandae debitis asperiores sit!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, magnam earum! Reiciendis similique praesentium alias, vitae nihil magnam culpa deserunt?</p>
        
    </div>
    
    <%- include('./partials/footer.ejs') %>

</body>
</html>